$colors: (
  // Base Colors
  "primary": #ff5813,
  "secondary": #9a7f6a,
  "accent": #0487a3,
  "accent-light": #04a3a3,
  // Neutral
  "white": #ffffff,
  "black": #000000,
  "gray": #808080,
  "silver": #bfbfbf,
  // Semantic Colors
  "success": #00cc00,
  "warning": #ff9900,
  "error": #ff0000,
  "info": #0099ff,
  // Functional Colors
  "background": #f5f5f5,
  "body": #121212,
  "body-gradient-1": #383838,
  "body-gradient-2": #121212,
  "text": #ffffff,
  "circle-black": #2F2F2F,
  "heading": #ededed
);

$breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container: (
  xs: 100%,
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
);
